* {
	font-family: Verdana, sans-serif;
}

body {
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.downloadLink {
	color: aquamarine;
	font-size: 16px;
	display: flex;
	justify-content: center;
	padding-bottom: 1rem;
}

h1 {
	font-weight: normal;
	font-size: 50px;
	color: white;
	text-align: center;
}

h2 {
	font-weight: 300;
	font-size: 42px;
	color: white;
	text-align: center;
}

.guideDescription,
.copyright {
	color: gray;
	font-size: 21px;
}

.phoneIcon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.guideDescription {
	text-align: center;
}

.guideImage {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 2rem;
}

footer {
	width: 100%;
	text-align: right;
	margin-right: 1rem;
}
